header#masthead {
    background: url("../images/top-background.png") no-repeat center;
    background-size: cover;
    .container-inner {
        @include clearfix;
        text-align: center;
    }
    .main-navigation {
        ul.nav-menu {
            @include clearfix;
            li:first-child {
                background: url("../images/home-icon.png") no-repeat center;
                text-indent: 1000px;
                overflow: hidden;
            }
            li {
                a {
                    display: block;
                    width: 134px;
                    height: 101px;
                    line-height: 101px;
                    opacity: 0.64;
                }
            }
        }
    }
    .main-logo {
        margin: 142px 0 239px;;
        display: inline-block;
    }
    .header-underline {
        height: 21px;
    }
}